---
title: SBS Seed Fund
slug: index
published: true
meta_keywords: oxford startups innovation launchpad mba startup
meta_description: The oxford seed fund is awesome!
---

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{page.meta_keywords | escape}}"
    <meta name="description" content="{{page.meta_description | escape}}">
    <meta name="author" content="">

    <title>{{page.title | escape}}</title>

    <!-- Bootstrap Core CSS -->
    {{ 'bootstrap.min.css' | stylesheet_tag }}

    <!-- Custom CSS -->
    {{ 'agency.css' | stylesheet_tag }}
    {{ 'style.css' | stylesheet_tag }}

    <!-- Custom Fonts -->
    {{ 'font-awesome-4.1.0/css/font-awesome.css' | stylesheet_tag }}
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.javascripts/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% inline_editor %}
</head>

<body id="page-top" class="index">

    {% block 'main' %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{page.title | escape}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Learn More</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#apply">Apply!</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->

    {% block 'header' %}
      {% capture intro %}
        {% editable_text 'Header Text', format: 'raw', rows: 3, hint: 'Text which is overlaid onto the main header image' %}
          Early-stage venture funding for Oxford entrepreneurs.
        {% endeditable_text %}
      {% endcapture %}
      <header>
          <div class="container">
              <div class="intro-text">
                  <div class="intro intro-lead-in">{{ intro | escape }}</div>
                  <!-- <div class="intro intro-heading">You've come to the right place!</div> -->
                  <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
              </div>
          </div>
      </header>
    {% endblock %}

    
    <!--header photo CC from https://www.flickr.com/photos/kwarz/8154892547/in/photolist-dqBXrD-7vUb5p-7JoDj-7aaDP9-dV2F84-7meKMm-4v572g-7bGfVq-7RTKLd-e7cSpQ-FPvFb-8KvuR-7ENXBZ-rKp7X-eMk1Wr-dGFJ4M-atLYS-o1eK7M-92pxJR-mAG5C-9gWgTb-9FRnEx-4Xb2r1-hrpisK-e6qCmq-fJAGZ4-4DWxXR-asGg7J-8mqTuM-7aeJwV-9yJX7H-9FVi9m-9pNWFZ-bc7cHi-9daY9o-nK7kRW-8QGCfB-4Xo8u9-4Jx98j-9FUu6f-96xajV-7aeocB-kUsM8J-5wdMEo-555QaA-e4W1g5-crDKWh-rqLgE-abfYgd-aX6FZk-->

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque vel quam ornare bibendum. Nulla porta faucibus sagittis. Curabitur mattis pretium luctus. Nunc metus ex, pharetra quis mauris vel, commodo dignissim mi. Nulla nisl justo, venenatis quis urna sed, porta pulvinar eros. Nam cursus libero hendrerit finibus placerat. Donec at nunc mattis, consectetur dolor vestibulum, vulputate risus. Proin nec tellus tellus. Donec quis est quis nisl egestas hendrerit. Maecenas neque urna, congue eget lorem ac, posuere varius augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi non ligula nec enim ullamcorper iaculis.</p>

                <p>Mauris lacinia congue sapien id venenatis. Praesent egestas, justo eget rhoncus facilisis, est urna faucibus enim, commodo suscipit tellus odio vel elit. Nam aliquet est vel lorem laoreet sollicitudin. Cras porttitor in orci nec vehicula. Sed tempus lectus vulputate mauris dignissim maximus. Proin sit amet dui quis velit ornare blandit. Aenean nec felis ultrices, ullamcorper velit vehicula, varius libero. Maecenas eu justo non nulla sagittis consectetur. Aliquam elementum tincidunt ultrices.</p>

                <p>Nunc ac mi vel justo hendrerit vehicula. Nam porta, augue sit amet commodo consequat, velit neque viverra leo, vel vulputate elit augue in libero. Donec viverra ex quis efficitur vehicula. Ut quis justo volutpat, scelerisque mauris nec, auctor enim. Ut vehicula lacinia ultrices. Sed interdum eros vitae ipsum vulputate, ut faucibus urna posuere. Nulla et nulla vitae enim aliquet semper. Nam in nunc justo. Morbi sagittis justo ac mattis accumsan. Donec libero neque, semper eget aliquam in, aliquet et leo. Nam posuere, purus vel semper egestas, felis lorem pretium quam, id feugiat ipsum lorem ut metus. Aliquam tempus aliquet velit eget sollicitudin. Nunc turpis lorem, lacinia in orci eleifend, euismod tristique nulla. Aliquam elementum est efficitur urna congue, in feugiat risus auctor. Morbi vitae pharetra nulla.</p>
              </div>
            </div>

 
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <!--header-->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Here are some of the awesome companies which the seed fund has supported in the past.</h3>
                </div>
            </div>
            <!--actual content-->
            <div class="row">
              {% for portfolio_org in contents.portfolio_orgs %}
                 {% include 'portfolio-org' portfolio_org=team_member %}
                 {% cycle '', '', '', '<div class="clearfix hidden-sm hidden-xs">&nbsp;</div>'  %}
              {% endfor %}
            </div>

        </div>
    </section>



    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Learn More!</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                   <p>We're in the process of revamping our website to make it easier to learn about the seedfund. In the meantime though, our content is spread across two sites. Please checkout the <a href="#">old site</a> for plenty more information. And use the link below to join the mailing list!</p>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 intro-text">
                <a href="#"><button class="btn-xl">Join the Mailing List</button></a>
              </div>
            </div>
        </div>
    </section>

    <section id="apply">
      <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Apply</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor lectus a nisi vestibulum, in ultrices augue commodo. Phasellus non ullamcorper sapien, vitae malesuada quam. Suspendisse potenti. Morbi id accumsan augue. Donec in quam ac libero placerat gravida a eget eros. Curabitur non libero at justo ultrices hendrerit. Praesent non nibh venenatis, cursus nibh sit amet, hendrerit massa. Quisque dictum nulla at augue dignissim eleifend vitae ac eros. Fusce eu nibh ac urna varius varius at eu turpis. Sed ac tortor ut magna accumsan viverra.</p>
            <a href="#">Hark, a link</a>
          </div>
        </div>
      </div>
    </section>


    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <!--heading-->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Seed Fund Committee</h2>
                    <h3 class="section-subheading text-muted">Meet the 2014/2015 SBS Seed Fund committee. The committee changes every year and is picked with help from the past year's chair(s) and an external group of experts.</h3>
                </div>
            </div>
            
            <!--actual team members-->
            <div class="row">
              {% for team_member in contents.team_members %}
                 {% include 'team-member' team_member=team_member %}
                 {% cycle '', '', '', '<div class="clearfix hidden-sm hidden-xs">&nbsp;</div>'  %}
              {% endfor %}
            </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; SBS Seed Fund 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



     {% endblock %}

    </div>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="javascripts/classie.js"></script>
    <script src="javascripts/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="javascripts/jqBootstrapValidation.js"></script>
    <script src="javascripts/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="javascripts/agency.js"></script>

</body>

</html>
