---
title: SBS Seed Fund
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
meta_keywords: oxford startups innovation launchpad mba startup
meta_description: The oxford seed fund is awesome!

---
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{page.meta_keywords | escape}}"
    <meta name="description" content="{{page.meta_description | escape}}">
    <meta name="author" content="">

    <title>{{page.title | escape}}</title>

    <!-- Bootstrap Core CSS -->
    {{ 'bootstrap.min.css' | stylesheet_tag }}

    <!-- Custom CSS -->
    {{ 'agency.css' | stylesheet_tag }}
    {{ 'style.css' | stylesheet_tag }}

    <!-- Custom Fonts -->
    {{ 'font-awesome-4.1.0/css/font-awesome.css' | stylesheet_tag }}
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.javascripts/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% inline_editor %}
</head>

<body id="page-top" class="index">

    {% block 'main' %}

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="row">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">{{page.title | escape}}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#learn-more">Learn More</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#apply">Apply!</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#team">Team</a>
                        </li>
                    </ul>
                </div>
            </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>

      <!-- Header -->

      {% block 'header_image' %}

        {% capture intro %}
          {% editable_text 'Header Text', format: 'raw', rows: 3, hint: 'Text which is overlaid onto the main header image' %}
            Early-stage funding for Oxford entrepreneurs.
          {% endeditable_text %}
        {% endcapture %}

        {% capture tellMeMore %}
          {% editable_text 'Find Out More button', format: 'raw', rows:1, hint: 'Button for users to go directly to the about section' %}
            Tell Me More
          {% endeditable_text %}
        {% endcapture %}

        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro intro-lead-in">{{ intro | escape }}</div>
                    <!-- <div class="intro intro-heading">You've come to the right place!</div> -->
                    <a href="#about" class="page-scroll btn btn-xl">{{ tellMeMore | escape }}</a>
                </div>
            </div>
        </header>

      {% endblock %}

      
      <!--header photo CC from https://www.flickr.com/photos/kwarz/8154892547/in/photolist-dqBXrD-7vUb5p-7JoDj-7aaDP9-dV2F84-7meKMm-4v572g-7bGfVq-7RTKLd-e7cSpQ-FPvFb-8KvuR-7ENXBZ-rKp7X-eMk1Wr-dGFJ4M-atLYS-o1eK7M-92pxJR-mAG5C-9gWgTb-9FRnEx-4Xb2r1-hrpisK-e6qCmq-fJAGZ4-4DWxXR-asGg7J-8mqTuM-7aeJwV-9yJX7H-9FVi9m-9pNWFZ-bc7cHi-9daY9o-nK7kRW-8QGCfB-4Xo8u9-4Jx98j-9FUu6f-96xajV-7aeocB-kUsM8J-5wdMEo-555QaA-e4W1g5-crDKWh-rqLgE-abfYgd-aX6FZk-->

      <!-- About Section -->
      {% block 'about' %}

        {% capture section_heading %}
          {% editable_text 'Header Text', format: 'raw', rows: 1, hint: 'Title for about section' %}
            About
          {% endeditable_text %}
        {% endcapture %}
        {% capture section_sub_heading %}
          {% editable_text 'Sub Header Text', format: 'raw', rows: 1, hint: 'Sub-title for about section' %}
            Lorem ipsum dolor sit amet consectetur.
          {% endeditable_text %}
        {% endcapture %}
        {% capture section_contents %}
          {% editable_text 'Section Body', rows: 15, hint: 'Contents of the actual section' %}
            <p><strong>Applications for 2014/2015 startup investments will open in December, 2014.</strong> For more details about how to apply <a href="#apply">click here</a>.</p>
            <p>The Saïd Business School Seed Fund is a student-run fund that invests £15-25k in early-stage ventures founded by Oxford students and alumni. It provides funding and support to entrepreneurs, and it is part of the Entrepreneurship Centre at Saïd Business School, University of Oxford. Founded in the autumn of 2012, the Seed Fund closed its first investments in the summer of 2013.</p>
            <p>For first-time entrepreneurs not quite ready for investment, the Launchpad at Saïd Business School also operates a Lean LaunchPad business model development programme to help entrepreneurs build business models and prepare their ventures for future funding.</p>
            <h4>What kind of businesses does the Seed Fund invest in?</h4>
            <p>We are looking for high-growth companies who need venture-style investment to grow. We do not invest in lifestyle businesses or nonprofits. Our minimum investment criteria for companies require that they:</p>
            <ul>
              <li>Have an Oxford student or alumni on a strong founding team</li>
              <li>Are in a pilot or proof-of-concept stage, with no significant previous investment</li>
              <li>Have the potential to receive follow-on investment or generate substantial revenues in the next 18 months</li>
              <li>Have small initial capital requirements such that our quantum of funding can make a meaningful difference in the company’s trajectory</li>
              <li>Are registered either in the UK or the US, even if they operate elsewhere</li>
            </ul>
          {% endeditable_text %}
        {% endcapture %}

        <section id="about" class="light-section text-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">{{ section_heading | escape }}</h2>
                        <!-- <h3 class="section-subheading text-muted">{{ section_sub_heading | escape }}</h3> -->
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    {{ section_contents }}
                  </div>
                </div>

     
            </div>
        </section>

      {% endblock %}


      {% block 'portfolio' %}

        {% capture section_heading %}
          {% editable_text 'Header Text', format: 'raw', rows: 1, hint: 'Title for section' %}
            Portfolio
          {% endeditable_text %}
        {% endcapture %}
        {% capture section_sub_heading %}
          {% editable_text 'Sub Header Text', format: 'raw', rows: 1, hint: 'Sub-title for the section' %}
            Check out some of the awesome companies which the Seed Fund has invested in.
          {% endeditable_text %}
        {% endcapture %}

        <!-- Portfolio Grid Section -->
        <section id="portfolio" class="bg-light-gray">
            <div class="container">
                <!--header-->
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">{{ section_heading | escape }}</h2>
                        <h3 class="section-subheading text-muted">{{ section_sub_heading | escape }}</h3>
                    </div>
                </div>
                <!--actual content-->
                <div class="row">
                  {% for portfolio_org in contents.portfolio_orgs %}
                     {% include 'portfolio-org' portfolio_org=team_member %}
                     {% cycle '', '', '', '<div class="clearfix hidden-sm hidden-xs">&nbsp;</div>'  %}
                  {% endfor %}
                </div>

            </div>
        </section>
      {% endblock %}

      {% block 'learn-more' %}

        {% capture section_heading %}
          {% editable_text 'Header Text', format: 'raw', rows: 1, hint: 'Title for the section' %}
            Learn More
          {% endeditable_text %}
        {% endcapture %}

        {% capture section_contents %}
          {% editable_text 'Section Body', rows: 15, hint: 'Contents of the actual section' %}
            <p>The Seed Fund is in a period of transition where we are migrating from our old web property to this one. To learn more about the Seed Fund you can checkout our <a href="http://www.sbs.ox.ac.uk/ideas-impact/entrepreneurship/venture-creation/seed-fund/expression-interest-form">old webpage</a>, with special attention to the <a href="http://www.sbs.ox.ac.uk/ideas-impact/entrepreneurship/venture-creation/seed-fund/faqs">Frequently Asked Questions</a> section.</p>
            <p>We always enjoy hearing from entrepreneurs, whether you are looking for funding or want to develop your idea. Send an email to <a href="mailto:hello@sbsseedfund.com">hello@sbsseedfund.com</a> or come visit us at the Oxford LaunchPad in Saïd Business School.</p>
            <p>If you are an investor, mentor, or incoming student interested in participating in the Seed Fund during the 2014-2015 academic year, please email <a href="mailto:hello@sbsseedfund.com">hello@sbsseedfund.com</a>.</p>
            <p>For other enquiries, write to <a href="mailto:entrepreneurship@sbs.ox.ac.uk">entrepreneurship@sbs.ox.ac.uk</a> or call +44 (0)1865 288845.</p>
          {% endeditable_text %}
        {% endcapture %}



        <section id="learn-more" class="light-section text-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">{{ section_heading | escape }}</h2>
                        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">{{ section_contents }}</div>
                </div>
            </div>
        </section>

      {% endblock %}


      {% block 'apply' %}

        {% capture section_heading %}
          {% editable_text 'Header Text', format: 'raw', rows: 1, hint: 'Title for the section' %}
            Apply!
          {% endeditable_text %}
        {% endcapture %}
        {% capture application_date %}
          {% editable_text 'Sub Header Text', format: 'raw', rows: 1, hint: 'A short sentence saying when the applications are open' %}
            Applications for the 2014/2015 round of the Seed Fund open early December, 2014. 
          {% endeditable_text %}
        {% endcapture %}
        {% capture section_contents %}
          {% editable_text 'Section Body', rows: 15, hint: 'Contents of the actual section' %}
            <p>Applications will be opening in early December, 2014. The best way to stay up-to-date about applications is to join our mailing list by <a href="http://www.sbs.ox.ac.uk/ideas-impact/entrepreneurship/venture-creation/seed-fund/expression-interest-form">completing an expression of interest form</a> on our old website. As soon as applications are available you will be notified.</p>
          {% endeditable_text %}
        {% endcapture %}


        <section id="apply" class="dark-section text-section">
          <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ section_heading | escape }}</h2>
                    <h3 class="section-subheading text-muted">{{ application_date | escape }}</h3>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12">{{ section_contents }}</div>
            </div>
          </div>
        </section>

      {% endblock %}


      <!-- Team Section -->
      <section id="team" class="bg-light-gray">
          <div class="container team-container">
              <!--heading-->
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Seed Fund Committee</h2>
                      <h3 class="section-subheading text-muted">Meet the 2014/2015 SBS Seed Fund committee. The committee changes every year and is picked with help from the past year's chair(s) and an external group of experts.</h3>
                  </div>
              </div>
              
              <!--actual team members-->
              <div class="row">
                {% for team_member in contents.team_members %}
                  <!-- {% cycle '<div class="row">', '', '', ''  %} -->
                   {% include 'team-member' team_member=team_member %}
                   {% cycle '', '<div class="clearfix hidden-sm hidden-md hidden-lg"></div>'  %}
                   {% cycle '', '', '<div class="clearfix hidden-xs hidden-md hidden-lg"></div>'  %}
                   {% cycle '', '', '', '<div class="clearfix hidden-xs hidden-sm"></div>'  %}
                   <!-- {% cycle '', '', '', '</div><div class="clearfix hidden-sm hidden-xs">&nbsp;</div>'  %} -->
                {% endfor %}
              </div>

          </div>
      </section>

      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <span class="copyright">Copyright &copy; SBS Seed Fund 2014</span>
                  </div>
                  <div class="col-md-4">
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <ul class="list-inline quicklinks">
                          <li><a href="#">Privacy Policy</a>
                          </li>
                          <li><a href="#">Terms of Use</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </footer>



     {% endblock %}

    </div>

    <!-- jQuery -->
    {{ 'jquery.js' | javascript_tag }}

    <!-- Bootstrap Core JavaScript -->
    {{ 'bootstrap.min.js' | javascript_tag }}

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    {{ 'classie.js' | javascript_tag }}
    {{ 'cbpAnimatedHeader.js' | javascript_tag }}

    <!-- Custom Theme JavaScript -->
    {{ 'agency.js' | javascript_tag }}

</body>

</html>
